<div class="container-fluid" id="plateau">
    <input type="hidden" class="idPartie" value="{{partie.id}}">
    <input type="hidden" class="Route" value="{{ path('index_route') }}">

    <input type="hidden" class="UserJoueurID" value="{{app.user.id}}">

<div class="row">
    <div class="col-sm-4 jeton">
        <div class="row">
            <div class="col-sm-10">{% for jeton in partie.jetonsTerrain.arme %}
                    <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="75px" />
                {% endfor %}</div>
            <div class="col-sm-10">{% for jeton in partie.jetonsTerrain.telephone %}
                    <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="75px" />
                {% endfor %}</div>
            <div class="col-sm-10">
                {% for jeton in partie.jetonsTerrain.drogue %}
                    <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="75px" />
                {% endfor %}
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-3">
                        {% for jeton in partie.jetonsTerrain.Bonus_3 %}
                            {% if loop.first %}
                                <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}"/>
                            {% endif %}

                        {% endfor %}
                    </div>
                    <div class="col-sm-3">
                        {% for jeton in partie.jetonsTerrain.Bonus_4 %}
                            {% if loop.first %}
                                <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="75px"/>
                            {% endif %}

                        {% endfor %}
                    </div>
                    <div class="col-sm-3">
                        {% for jeton in partie.jetonsTerrain.Bonus_5 %}
                            {% if loop.first %}
                                <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="75px"/>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                {% for jeton in partie.jetonsTerrain.alcool %}
                    <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="75px" />
                {% endfor %}
            </div>
            <div class="col-sm-10">
                {% for jeton in partie.jetonsTerrain.cigarette %}
                    <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="75px" />
                {% endfor %}
            </div>
            <div class="col-sm-10">
                {% for jeton in partie.jetonsTerrain.nourriture %}
                    <img src="{{ asset('jetons/'~jetons[jeton].fichier) }}" height="75px" />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-4 cartes">
        <div class="row">
            <div class="col-sm-12" style="height: 150px">
                {% if app.user.id == partie.joueur1.id %}
                {% for carte in partie.mainJ2 %}
                    <img src="{{ asset('cartes/carte_dos.jpg') }}" height="100px" />
                {% endfor %}
                {% elseif app.user.id == partie.joueur2.id %}
                    {% for carte in partie.mainJ1 %}
                        <img src="{{ asset('cartes/carte_dos.jpg') }}" height="100px" />
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-12" style="height: 150px">
                {% if app.user.id == partie.joueur1.id %}
                {% for carte in partie.chameauxJ2 %}
                    <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" height="100px" />
                {% endfor %}
                {% elseif app.user.id == partie.joueur2.id %}
                    {% for carte in partie.chameauxJ1 %}
                        <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" height="100px" />
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-1 pioche">{% if partie.pioche|length >0 %}<img src="{{ asset('cartes/carte_dos.jpg') }}"  />{% else %}Vide{% endif %}</div>
                    <div id="terrain" class="row">
                        {% for carte in partie.terrain %}
                            <div class="col-sm-2" id="carte-{{ carte }}"><img src="{{ asset('cartes/'~cartes[carte].fichier) }}" class="carteterrain {% if cartes[carte].valeur == 0 %}Larbin {% else %}Marchandises{% endif %}"  data-carte="{{ carte }}" /></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="height: 150px">
                <div id="chamain" class="row">
                    {% if app.user.id == partie.joueur1.id %}
                {% for carte in partie.chameauxJ1 %}
                    <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" class="cartechameau" height="100px" data-carte="{{ carte }}" />
                {% endfor %}
                    {% elseif app.user.id == partie.joueur2.id %}
                        {% for carte in partie.chameauxJ2 %}
                            <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" class="carteMain_chameau" height="82px"
                                 data-carte="{{ carte }}" />
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 mainJ1" style="height: 150px">Mes cartes<br>
                <div id="main" class="row">
                    {% if app.user.id == partie.joueur1.id %}
                {% for carte in partie.mainJ1 %}
                    <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" class="cartemain" height="100px" data-carte="{{ carte }}" />
                {% endfor %}
                    {% elseif app.user.id == partie.joueur2.id %}
                        {% for carte in partie.mainJ2 %}
                            <img src="{{ asset('cartes/'~cartes[carte].fichier) }}" class="carteMain carteMain_{{ carte }}  valeur_{{ cartes[carte].valeur }}"
                                 height="90px" data-carte="{{ carte }}" data-valeur="{{ cartes[carte].valeur }}" />
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" id="bloc-action">

        </div>
        <div class="row" id="bloc-suivant" style="display:none">
            <button class="btn btn-block btn-success" id="action-terminer">Terminer mon tour</button>
        </div>
    </div>
    <div class="col-4 sidebar">
        <div class="proJ1">
            <p class="pseudo">{{ partie.joueur1.username }}</p>
            <p class="points">{{ partie.pointj1 }} points</p>
            <!--Changement des points en temps réel pour le J1-->
            <ul class="win">

            </ul>
            <br><br>
        </div>
        <div class="proJ2">
            <p class="pseudo">{{ partie.joueur2.username }}</p>
            <p class="points">{{ partie.pointj2 }} points</p>
            <!--Durant la partie le score du J2 reste caché mais s'affiche à la fin de la manche-->
            <ul class="win">

            </ul>
            <br><br>
        </div>
        <div class="actions">
            <br><br>
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-block btn-primary" id="action-prendre">Prendre</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block btn-dark" id="action-vendre">Vendre</button>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block btn-success" id="action-troquer">Troquer</button>
                </div>
            </div>
        </div>
    </div>
</div>

